body {  
  font-family: 'Patrick Hand SC', cursive;
  background: url(../images/tools.png) no-repeat center center fixed;
}

.nav-logo {
  width: 40px;
}

.jumbotron {
  background-color: rgb(110, 72, 36);
  color: white;
  background-position: 0% 25%;
  background-size: cover;
  background-image: url("../images/wn_large.png");
}

.logo {
  width: 130px;
  margin: auto;
}

a {
  color: #00B7FF;
}
