body {  
  font-family: 'Patrick Hand SC', cursive;
  background: no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.nav-logo {
  width: 100px;
}

.jumbotron {
  background-color: rgb(110, 72, 36);
  color: white;
  background-position: 0% 25%;
  background-size: cover;
  background-image: url("../images/wn_large.png");
}

a {
  color: #00B7FF;
}
