body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-logo {
  width: 40px;
}

.jumbotron {
  background-color: rgb(110, 72, 36);
  color: white;
  background-position: 0% 25%;
  background-size: cover;
  background-image: url("../images/wn_large.png");
}

.logo {
  width: 130px;
  margin: auto;
}

a {
  color: #00B7FF;
}
